<ion-view>
    <ion-header-bar class="bar-header bar-positive">
        <div class="title uppercase">Ranking de Profissionais</div>
        <button class="button button-positive" ng-click="logout()">Sair</button>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <div class="profile-container">
                <!--<div id="em-profile" class="item">-->
                    <!-- <img src="img/ionic.png"> -->
                    <div ng-if="user.profilePic" class="profile-pic" ng-style="{'background-image': 'url(' + user.profilePic + ')'}"></div>
                    <div ng-if="!user.profilePic" class="profile-pic" style="background-image: url(img/profile-pic-default.png)"></div>
                    <div id="caixaBV" class="list card" ng-show="user" >
                      <h3 class="profile-user" >Bem vindo, {{ user.name }}.</h3>
                    </div>
                <!--</div>-->
                <div id="myDiv">
                    <div id="color">
                        <div id="effect"></div>
                    </div>
                </div>

            </div>
            <h2 id="btn-title" >Ranking de Profissionais</h2>
              <hr id="login-divider" />
            <div class="list">
                 <ion-list>
                 <ion-item ng-repeat="item in result" class="item item-avatar" href="#">
                 <img src="../img/user.png">


                 <h2>Classificação: {{item.usuario.id}}° colocado</h2>
                 <h2>Nome: {{item.usuario.nome}}</h2>
                 <p>Profissão: {{item.profissao}}</p>
                 <p>Email: {{item.usuario.email}}</p>
                 <p>Nota: {{item.pontuacao}}</p>




             </ion-item>
           </ion-list>
           </div>

        </div>
    </ion-content>
    <div id="footer" class="bar bar-footer">
        <div class="title em-footer-title">© FindYourPro</div>
    </div>
</ion-view>
